@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 88% 94%; /* #FEF3E2 */
    --foreground: 23 88% 30%; /* A darker shade for text */

    --card: 39 88% 98%; /* Lighter than background for cards */
    --card-foreground: 23 88% 30%;

    --popover: 39 88% 98%;
    --popover-foreground: 23 88% 30%;

    --primary: 46 90% 54%; /* #F3C623 */
    --primary-foreground: 23 88% 25%;
    --primary-darker: 46 90% 49%; 

    --secondary: 39 98% 85%;
    --secondary-foreground: 23 88% 30%;

    --muted: 39 88% 94%;
    --muted-foreground: 39 20% 65%;

    --accent: 21 96% 59%; /* #FA812F */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 39 88% 88%;
    --input: 39 88% 88%;
    --ring: 46 90% 54%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 23 88% 15%;
    --foreground: 39 88% 94%;
    
    --card: 23 88% 18%;
    --card-foreground: 39 88% 94%;

    --popover: 23 88% 18%;
    --popover-foreground: 39 88% 94%;

    --primary: 46 90% 54%;
    --primary-foreground: 23 88% 25%;
    --primary-darker: 46 90% 49%;

    --secondary: 23 88% 22%;
    --secondary-foreground: 39 88% 94%;

    --muted: 23 88% 22%;
    --muted-foreground: 39 20% 65%;

    --accent: 21 96% 59%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 23 88% 25%;
    --input: 23 88% 25%;
    --ring: 46 90% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
